<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Om lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" type="module"></script>
</head>

<body>
    <header>
        <img src="images/logo_jeja.svg" id="logo" alt="logo for creater">
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/addcourse">Lägg till kurs</a></li>
                <li><a href="/about" id="position">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>3. Beskrivning av lab</h1>
    </main>

    <footer>
        <img src="images/logo_jeja.svg" alt="logo for creater">
        <p>Copyright Jennifer Jakobsson, 2024<br>
            dt207g Backend-baserad webbutveckling</p>
    </footer>

</body>

</html>