<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Om lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" type="module"></script>
</head>

<body>
    <header>
        <img src="images/logo_jeja.svg" id="logo" alt="logo for creater">
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/addcourse">Lägg till kurs</a></li>
                <li><a href="/about" id="position">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Serverbaserad webbutveckling</h1>
        <div id="textcontainer">
            <p>
                I denna uppgift har jag skapat en webbapplikation som gör det möjligt för besökare att lagra, visa och
                radera kurser de har läst. Datan har lagrats i MySQL och jag har arbetat med programmen Node.js och
                Express för att skapa servern och ansluta till relationsdatabasen.
                <br><br>
                Det har varit problematiskt att arbeta med detta då pdpMyAdmin flertalet gånger slutat fungera utan
                anledning. Jag lyckades lösa det två gånger genom att blandannat reparera filer i mysql och skapa
                tabeller för att lagra konfigurationen men blev sedan tvungen att ominstallera XAMPP och
                därmed göra om databasen för laborationen. Detta räckte inte utan jag blev till sist tvungen att skriva
                om en del syntax och installera PostgreSQL. Webbapplikationen är publicerad via Render.
                <br><br>
                Jag tycker dock att detta har varit ett roligt sätt att hämta data på plus att man själv skapat
                informationskällan.
            </p>
        </div>
    </main>

    <footer>
        <img src="images/logo_jeja.svg" alt="logo for creater">
        <p>Copyright Jennifer Jakobsson, 2024<br>
            dt207g Backend-baserad webbutveckling</p>
    </footer>

</body>

</html>