<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>Lägg till kurs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" type="module"></script>
</head>

<body>
    <header>
        <img src="images/logo_jeja.svg" id="logo" alt="logo for creater">
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/addcourse" id="position">Lägg till kurs</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Lägg till ny kurs</h1>

            <form id="pagetwoform" method="post"> <!-- skickar som HTTP POST-förfrågan -->
                <label for="name">Kursnamn:</label>
                <input type="text" id="coursename" name="coursename" placeholder="Namn på kurs">
                <br>
                <label for="coursecode">Kurskod:</label>
                <input type="text" id="coursecode" name="coursecode" placeholder="Exempelvis 'DT200G'">
                <br>
                <label for="syllabus">Kursplan:</label>
                <input type="text" id="syllabus" name="syllabus" placeholder="Länk till kursplan">
                <br>
                <label for="progression">Progression:</label>
                <input type="text" id="progression" name="progression" placeholder="Exempelvis 'A', 'B' eller 'C'">
                <br>
                <input id ="submitbtn" type="submit" value="Lägg till kurs">
            </form>
        
    </main>

    <footer>
        <img src="images/logo_jeja.svg" alt="logo for creater">
        <p>Copyright Jennifer Jakobsson, 2024<br>
            dt207g Backend-baserad webbutveckling</p>
    </footer>

</body>

</html>