@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #333;
    color: white;
    font-family: 'Poppins';

    p { font-family: 'Inter'; }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    img { width: 150px; padding: 3em; }
    nav a { color: white; text-decoration: none; }
    nav ul li:last-child { margin-right: 0; }
    #position { border-bottom: 3px solid white; }
    nav ul li { margin-right: 10px; color: white; }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        justify-content: center;
        display: flex;
        width: 300px;
    }
}

main {
    margin-top: 3em!important;
    flex-direction: column;
    margin: 0 auto;
    background-color: #585858;
    display: flex;
    text-align: center;
    border: 1px solid rgb(151, 151, 151);
    width: 800px;
    border-radius: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-self: center;
    width: 400px;
    padding: 2em 0 4em 0;

    input {
        width: 100%;
        height: 40px;
        border-radius: 0.2em;
        border: none;
    }

    #submitbtn {
        width: 300px;
        border-radius: 0.5em;
        border: none;
        margin: 1.5em auto 0 auto;
        transition: 0.2s;
        background-color: #c5c5c5;
        font-family: 'Inter';
        font-size: 15px;

        &:hover {
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.24);
            cursor: pointer;
            transform: scale(1.02);
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 20px; 
    margin: auto 0 0;
    align-self: center;
    align-items: center;
    margin: 0 auto;

    img { width: 40px; height: 15px; }
    p { font-size: 12px; }
}